<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
		<body class="lista">
			<div class="container">
	
				<h1><a href="/" ><i class="fas fa-arrow-left"></i></a> Lista de cliente</h1>
			
				<div class="bt-agenda2">
					
					<a href="/cliente/cadastro" class="btn btn-primary bt-agenda2">Cadastrar cliente</a>			
				</div >
				
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Endereço</th>
							<th>Telefone</th>
							<th>Email</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${listaClientes}">
							<td th:text="${cliente.nome}">Nome do cliente</td>
							<td th:text="${cliente.endereco}">Endereço do cliente</td>  
							<td th:text="${cliente.telefone}">Telefone do cliente</td>  
							<td th:text="${cliente.email}">Email do cliente</td>  
							<td><a th:href="@{/cliente/editar/{id}(id=${cliente.id})}" ><i class="far fa-edit" style="width:22;height:22"></i></a></td>
							<td><a th:href="@{/cliente/excluir/{id}(id=${cliente.id})}"><i  class="fas fa-trash-alt" style="width:22;height:22"></i></a></td>
						</tr>	
					</tbody>			
				</table>
			</div>
		</body>
</html>